<footer class="site-footer">
    <div class="container">
        <div class="footer-brand">
            <a href="/" class="site-logo">
                <img src="{{if .PortalSettings.LogoKey}}{{imageURL .PortalSettings.LogoKey}}{{else}}{{if .Branding.LogoPath}}{{.Branding.LogoPath}}{{else}}/static/images/logo.png{{end}}{{end}}" alt="{{if .Branding.LogoAltText}}{{.Branding.LogoAltText}}{{else}}Inhumas em Foco{{end}}" class="brand-logo-img" width="220" height="54" style="display:block;width:auto;max-width:220px;height:54px;object-fit:contain;">
            </a>
            <p>{{if .Branding.PortalTagline}}{{.Branding.PortalTagline}}{{else}}{{.PortalSettings.Tagline}}{{end}}</p>
        </div>
        <div>
            <h4>Navegacao</h4>
            <a href="/">Home</a><br>
            <a href="/noticias">Noticias</a><br>
            <a href="/lojas">Lojas</a><br>
            <a href="/influencers">Influencers</a><br>
            <a href="/promocoes">Promocoes</a><br>
            <a href="/eventos">Eventos</a><br>
            <a href="/classificados">Classificados</a>
        </div>
        <div>
            <h4>Institucional</h4>
            <a href="/sobre">Sobre</a><br>
            <a href="/contato">Contato</a>
        </div>
        <div>
            <h4>Contato</h4>
            <p>{{if .Branding.ContactPhone}}{{.Branding.ContactPhone}}{{else}}{{.PortalSettings.ContactPhone}}{{end}}</p>
            <p>{{if .Branding.ContactEmail}}{{.Branding.ContactEmail}}{{else}}{{.PortalSettings.ContactEmail}}{{end}}</p>
            <p>{{if .Branding.ContactCity}}{{.Branding.ContactCity}}{{else}}{{.PortalSettings.City}}{{end}}, {{if .Branding.ContactState}}{{.Branding.ContactState}}{{else}}{{.PortalSettings.State}}{{end}}</p>
        </div>
    </div>
    <div class="footer-bottom">&copy; {{.Year}} {{.Branding.CopyrightHolder}}. {{.Branding.FooterLegalText}}</div>
</footer>
